<div *ngIf="!edit">
  <h1 class="header" style="margin-left: 20px; margin-top: 20px">
    Lista de Entregas
    <img
      style="width: 20px"
      src="https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=command-refresh"
      (click)="listarEntregas()"
    />
  </h1>

  <hr />
  <div *ngFor="let entrega of entregas | async" style="margin-left: 20px">
    Id Entrega: {{ entrega.id }}   |   Armazém Destino:
    {{ entrega.armazemEntrega }}<br />
    Data de Entrega: {{ entrega.dataEntrega }}
    <button
      mat-icon-button
      (click)="listarEntrega(entrega.id)"
      class="form-button"
      async
    >
      Editar
    </button>
    <hr style="margin-left: -20px" />
</div>
</div>
<div *ngIf="edit">


<div *ngIf="edit">
  <div class="form-div">
    <form
      [formGroup]="entregaForm"
      [hidden]="success"
      [hidden]="error"
      (ngSubmit)="submit()"
    >
      <h1 class="header">Editar Entrega</h1>
      <hr />
      <div class="example-form">
        <mat-form-field [hideRequiredMarker]="true" class="full">
          <label class="form-label">ID Entrega*</label>

          <input
            matInput
            formControlName="id"
            name="id"
            class="form-text-box"
            required
            maxlength="6"
            required
            minlength="6"
          />
          <div *ngIf="id?.errors?.['minlength']">
            Este campo tem que ter exatamente 6 caracteres
          </div>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" class="full">
          <label class="form-label">ID Armazém Entrega*</label>
          <input
            formControlName="armazemEntrega"
            name="armazemEntrega.id"
            class="form-text-box"
            required
            minlength="3"
            required
            maxlength="3"
            id="dataentrega"
          />
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" class="full">


          <div *ngIf="armazemEntrega?.errors?.['minlength']">
            Este campo tem que ter exatamente 3 caracteres alfanuméricos
          </div>

          <label class="form-label">Data de Entrega*</label>
          <input
            formControlName="dataEntrega"
            name="dataEntrega"
            class="form-text-box"
            type="date"
            id="datePickerId"
            required
          />
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <label class="form-label">Massa da Entrega*</label>
          <input
            formControlName="massaEntrega"
            name="massaEntrega"
            class="form-text-box"
            required
          />
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <label class="form-label">Tempo de Carregamento da Entrega*</label>
          <input
            formControlName="tempoCarregarEntrega"
            name="tempoCarregarEntrega"
            class="form-text-box"
            required
          />
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <label class="form-label">Tempo de Descarregamento da Entrega*</label>
          <input
            formControlName="tempoDescarregarEntrega"
            name="tempoDescarregarEntrega"
            class="form-text-box"
            required
          />
        </mat-form-field>
      </div>
      <p style="margin-left: 20px">Campos de preenchimento obrigatório(*)</p>
      <button [disabled]="entregaForm.invalid" class="form-button">
        Editar
      </button>

      <button mat-icon-button (click)="back()" class="form-button">Voltar</button>
    </form>
    <div *ngIf="success && !error" class="success">
      Foi editada a entrega {{ entrega.id }} {{ entrega.armazemEntrega }}
      {{ entrega.dataEntrega }} {{ entrega.massaEntrega }}
      {{ entrega.tempoCarregarEntrega }} {{ entrega.tempoDescarregarEntrega }}
    </div>
    <div *ngIf="error" class="error">
      <div *ngFor="let erro of errorsMessages">
        {{ erro }}
      </div>
    </div>
  </div>

