<div *ngIf="!edit">
  <h1 class="header" style="margin-left: 20px; margin-top: 20px">
    Lista de Empacotamentos
    <img style="width: 20px"
      src="https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=command-refresh"
      (click)="listarEmpacotamentos()"
    />
  </h1>
  <hr />

  <table mat-table [dataSource]="empacotamentos" class="mat-elevation-z8">
    <ng-container matColumnDef="entregaId">
      <th mat-header-cell *matHeaderCellDef>entregaId</th>
      <td mat-cell *matCellDef="let empacotamento">{{empacotamento.entregaId}}</td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell  *matHeaderCellDef> editar </th>
      <td mat-cell *matCellDef="let empacotamento">
        <button mat-button (click)="getEmpacotamento(empacotamento.id)" class="form-button" async style="transform: scale(0.75)"> Editar </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
    
  </table>

  <mat-paginator class="paginas" #paginator [pageSize]="10" [pageSizeOptions]="[2,5]" aria-label="Select page"
    color="warn" showFirstLastButtons>
  </mat-paginator>

</div>  


<div *ngIf="edit">
  <div class="form-div">
    <form
      [formGroup]="empacotamentoForm"
      [hidden]="success"
      [hidden]="error"
      (ngSubmit)="submit()"
    >
    <h1 class="header">Editar Empacotamento</h1>
    <hr >
      <div class="example-form">
        <mat-form-field [hideRequiredMarker]="true" class="full">
          <label class="example-full-width">ID de Entrega*</label>

          <input
            matInput
            formControlName="entregaId"
            name="entregaId"
            class="form-text-box"
            required
            maxlength="6"
            required
            minlength="6"
          />
          <div *ngIf="entregaId?.errors?.['minlength']">
            Este campo tem que ter exatamente 6 caracteres
          </div>
          <div *ngIf="entregaId?.errors?.['maxlength']">
            Este campo tem que ter exatamente 6 caracteres
          </div>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <label class="example-full-width">X*</label>
          <input
            matInput
            formControlName="posicaoX"
            name="posicaoX"
            class="form-text-box"
          />
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <label class="example-full-width">Y*</label>
          <input
            matInput
            formControlName="posicaoY"
            name="posicaoY"
            class="form-text-box"
          />
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <label class="example-full-width">Z*</label>
          <input
            matInput
            formControlName="posicaoZ"
            name="posicaoZ"
            class="form-text-box"
          />
        </mat-form-field>
      </div>

      <p style="margin-left: 20px">Campos de preenchimento obrigatório(*)</p>
      <button [disabled]="empacotamentoForm.invalid" class="form-button">
        Editar
      </button>

      <button mat-icon-button (click)="back()" class="form-button">Voltar</button>
      <div *ngIf="success && !error" class="success">
        Foi editado o empacotamento {{ empacotamento.id }}
      </div>
      <div *ngIf="error" class="error">
        <div *ngFor="let erro of errorsMessages">
          {{ erro }}
        </div>
      </div>
    </form>
  </div>
</div>
