header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 0; /* Add padding to the right side of the header */
  background-color: #2e3440;
  height: 50px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #434c5e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0; /* Position dropdown to the right of the "person" icon */
  top: 100%; /* Position dropdown below the "person" icon */
  margin: 0; /* Remove margin from dropdown */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0 10px; /* Add margin on both sides of the login options */
}

.dropdown-content a:hover {
  background-color: #2e3440
}

.dropdown:hover .dropdown-content {
  display: block;
}
