.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #3B4252;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .profile-picture img {
    width: 100%;
  }
  
  h1 {
    font-size: 48px;
    color: white;
    margin: 0;
  }
  
  .profile-body p {
    font-size: 24px;
    color: white;
    margin: 5px 0;
  }
  
  .button {
    background-color: #5e81ac;
    border: 1px;
    border-radius: 15px;
    color: #eceff4;
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 500px;
    text-align: center;
  }
  
  .button:disabled {
    background-color: #3c414b;
  }
  
  .button:enabled:hover {
    background-color: #425a79;
    border: 1px solid #2e3440;
    cursor: pointer;
  }