<div class="form-div">
  <form
    [formGroup]="rotaForm"
    [hidden]="success"
    [hidden]="error"
    (ngSubmit)="submit()"
  >
  <h1 class="header">Criar Rota</h1>
  <hr >
    <div class="example-form">
      <mat-form-field [hideRequiredMarker]="true" class="full">
        <label class="form-label">Armazém Inicial*</label>

        <input
          matInput
          formControlName="armazemInicial"
          name="armazemInicial"
          class="form-text-box"
          required
          maxlength="3"
          required
          minlength="3"
        />
        <div *ngIf="armazemInicial?.errors?.['minlength']">
          Este campo tem que ter exatamente 3 caracteres
        </div>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true" class="full">
        <label class="form-label">Armazém Final*</label>

        <input
          matInput
          formControlName="armazemFinal"
          name="armazemFinal"
          class="form-text-box"
          required
          maxlength="3"
          required
          minlength="3"
        />
        <div *ngIf="armazemFinal?.errors?.['minlength']">
          Este campo tem que ter exatamente 3 caracteres
        </div>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true" class="full">
        <label class="form-label">Duração*</label>

        <input
          matInput
          formControlName="duracao"
          name="duracao"
          class="form-text-box"
        />
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true" class="full">
        <label class="form-label">Energia Gasta*</label>

        <input
          matInput
          formControlName="energiaGasta"
          name="energiaGasta"
          class="form-text-box"
        />
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true" class="full">
        <label class="form-label">Distância*</label>

        <input
          matInput
          formControlName="distancia"
          name="distancia"
          class="form-text-box"
        />
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" class="full">
        <label class="form-label">Tempo Extra*</label>

        <input
          matInput
          formControlName="tempExtra"
          name="tempExtra"
          class="form-text-box"
        />
      </mat-form-field>

      <p style="margin-left: 20px">Campos de preenchimento obrigatório(*)</p>
      <button [disabled]="rotaForm.invalid" class="form-button">Criar</button>

      <div *ngIf="success && !error" class="success">
        Foi criado a rota {{ rota.armazemInicial }} {{ rota.armazemFinal }}
        {{ rota.duracao }} {{ rota.energiaGasta }} {{ rota.distancia }} {{rota.tempExtra}}
      </div>
      <div *ngIf="error" class="error">
        <div *ngFor="let erro of errorsMessages">
          {{ erro }}
        </div>
      </div>
    </div>
  </form>
</div>
